<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Antonio&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>

    <!-- 스크롤바 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js" integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q==" crossorigin="anonymous"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../static/detail.css">

    <title>DevUs</title>
</head>
<body>
<div class="hd">
    <div class="title">
        <a href="/main">Dev</a><a class="us" href="/main">Us</a>
        <h2>같이 하고싶은 개발자</h2>
    </div>

    {% if exist_token %}
    <button id="myBtn">프로젝트 생성</button>
    </li><img src="../static/image/user.jpeg" alt=""></li>
    {% else %}
    <li>
        <button onclick="location.href='/login'">로그인</button>
    </li>
    {% endif %}
    <!-- 깃허브 테스트 -->
</div>
<div class="sec">
    <h3>{{ cards["tech"] }}</h3>
    <h2>{{ cards["user_name"] }}님의 프로젝트</h2>
    <div class="user">
        <img src="../static/image/user.jpeg" alt="">
        <p>{{ cards["user_name"] }}</p>
        <i class="fas fa-heart hart"></i>
        <p>{{ cards["like"] }}</p>
    </div>
    <hr>
    <div class="dec-box">
        <img src="{{ cards["project_img"] }}" alt="">
        <div class="description">{{ cards["description"] }}</div>
    </div>
</div>
<script>
    $(document).ready(function () {

    })

</script>
</body>
</html>