<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <link rel="stylesheet" href="../static/join.css">
    <title>회원가입</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        function is_id(asValue) {
            var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;

            return regExp.test(asValue);
        }


        function is_password(asValue) {
            var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            return regExp.test(asValue);
        }


        function check_dup() {
            let userid = $("#id").val()
            console.log(userid)
            if (userid == "") {
                $("#help-id").css("color", "red");
                $("#help-id").text("2~10자의 영문과 숫자와 일부 특수문자 만 입력가능합니다").removeClass("is-safe").addClass("is-danger")
                // $("#id").focus()
                return;
            }

            if (!is_id(userid)) {
                $("#help-id").css("color", "red");
                $("#help-id").text("아이디의 형식을 확인해주세요.").removeClass("is-safe").addClass("is-danger")
                // $("#id").focus()
                return;
            }

            $("#help-id").addClass("is-loading")
            $.ajax({
                type: "POST",
                url: "/join/check_dup",
                data: {
                    id_give: userid
                },
                success: function (response) {

                    if (response["exists"]) {
                        console.log("dup")
                        $("#help-id").css("color", "red");
                        $("#help-id").text("이미 존재하는 아이디입니다.").removeClass("is-safe").addClass("is-danger")

                    } else {
                        $("#help-id").css("color", "green");
                        $("#help-id").text("사용할 수 있는 아이디입니다.").removeClass("is-danger").addClass("is-success")
                    }
                    $("#help-id").removeClass("is-loading")

                }
            });
        }

        function check_pw1() {
            let password = $("#pw1").val()
            if (password == "") {
                $("#help-password").css("color", "red");
                $("#help-password").text("영문과 숫자 필수 포함, 특수문자(!@#$%^&*) 사용가능 8-20자").removeClass("is-safe").addClass("is-danger")

                return;
            } else if (!is_password(password)) {
                $("#help-password").css("color", "red");
                $("#help-password").text("비밀번호의 형식을 확인해주세요.").removeClass("is-safe").addClass("is-danger")

                return
            } else {
                $("#help-password").css("color", "green");
                $("#help-password").text("사용할 수 있는 비밀번호입니다.").removeClass("is-danger").addClass("is-success")
            }
        }

        function check_pw2() {
            let password = $("#pw1").val()
            let password2 = $("#pw2").val()

            if (password2 == "") {
                $("#help-password2").css("color", "red");
                $("#help-password2").text("비밀번호를 입력해주세요.").removeClass("is-safe").addClass("is-danger")

                return;
            } else if (password2 != password) {
                $("#help-password2").css("color", "red");
                $("#help-password2").text("비밀번호가 일치하지 않습니다.").removeClass("is-safe").addClass("is-danger")

                return;
            } else {
                $("#help-password2").css("color", "green");
                $("#help-password2").text("비밀번호가 일치합니다.").removeClass("is-danger").addClass("is-success")
            }

        }

        function sign_up() {
            let username = $("#name").val()
            let userid = $("#id").val()
            let password = $("#pw1").val()
            let password2 = $("#pw2").val()
            console.log(userid, username, password, password2)

            if ($("#help-id").hasClass("is-danger")) {
                alert("아이디를 다시 확인해주세요.")
                return;
            } else if (!$("#help-id").hasClass("is-success")) {
                alert("아이디 중복확인을 해주세요.")
                return;
            }

            if (password == "") {
                $("#help-password").css("color", "red");
                $("#help-password").text("영문과 숫자 필수 포함, 특수문자(!@#$%^&*) 사용가능 8-20자").removeClass("is-safe").addClass("is-danger")

                return;
            } else if (!is_password(password)) {
                $("#help-password").css("color", "red");
                $("#help-password").text("비밀번호의 형식을 확인해주세요.").removeClass("is-safe").addClass("is-danger")

                return
            } else {
                $("#help-password").css("color", "green");
                $("#help-password").text("사용할 수 있는 비밀번호입니다.").removeClass("is-danger").addClass("is-success")
            }
            if (password2 == "") {
                $("#help-password").css("color", "red");
                $("#help-password2").text("비밀번호를 입력해주세요.").removeClass("is-safe").addClass("is-danger")

                return;
            } else if (password2 != password) {
                $("#help-password").css("color", "red");
                $("#help-password2").text("비밀번호가 일치하지 않습니다.").removeClass("is-safe").addClass("is-danger")

                return;
            } else {
                $("#help-password2").css("color", "green")
                $("#help-password2").text("비밀번호가 일치합니다.").removeClass("is-danger").addClass("is-success")
            }

            $.ajax({
                type: "POST",
                url: "/join/save",
                data: {
                    name_give: username,
                    id_give: userid,
                    pw_give: password
                },

                success: function (response) {
                    alert("회원가입을 축하드립니다!")
                    window.location.replace("/login")
                }
            });

        }
    </script>

</head>
<body>
<div class="bd">
    <div class="join-box">
        <div class="title">
            <p>Dev</p>
            <p class="us">Us</p>
        </div>
        <ul>
            <li><input onkeyup="check_dup()" type="text" name="" id="id" placeholder="아이디"></li>
            <li><p id="help-id"></p></li>
            <li><input type="text" name="" id="name" placeholder="이름"></li>
            <li><input onkeyup="check_pw1()" type="password" name="" id="pw1" placeholder="비밀번호"></li>
            <li><p id="help-password">
                (특수문자(!@#$%^&*)도 사용가능합니다</p></li>
            <li><input onkeyup="check_pw2()" type="password" name="" id="pw2" placeholder="비밀번호 확인"></li>
            <li><p id="help-password2"></p></li>
        </ul>
        <button onclick="sign_up()" class="bt">회원가입</button>
        <hr>
        <div class="lg">
            <p>계정이 있으신가요?</p>
            <a href="./login">로그인 하기</a>
        </div>

    </div>
</div>
</body>
</html>